/* GENERAL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2;
}

h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.8;
}

/* GENERAL */
/* BUTTONS & LINKS */
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #19B8C2;
  padding: 1.2rem 0;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

button:hover {
  color: #19B8C2;
  border: 1px solid #19B8C2;
  background-color: transparent;
}

.cta__btn {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  background-color: #19B8C2;
  border: 1px solid transparent;
  display: inline-block;
  padding: 1.2rem 3.4rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.cta__btn:hover {
  color: #19B8C2;
  border: 1px solid #19B8C2;
  background-color: transparent;
}

.cta__link {
  color: #19B8C2;
  font-weight: 500;
  display: inline-block;
}

/* BUTTONS & LINKS */
/* ANIMATIONS */
@-webkit-keyframes slideAccentBg {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideAccentBg {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.fade-up {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
  transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
}

.fade-up-fast {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.fade-right {
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
  transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
}

.fade-left {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
  transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
}

.fade-right-full-width {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  opacity: 0;
  -webkit-transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
  transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
}

.fade-left-full-width {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  opacity: 0;
  -webkit-transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
  transition: all 1.5s cubic-bezier(0.5, 0.25, 0, 1);
}

.show {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

/* ANIMATIONS */
main {
  overflow: hidden;
}

.hero {
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../images/hero-image-desktop.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url("../images/hero-image-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.hero .header__container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .header__logo {
  background: url("../images/LOGO.png");
  width: 17.5rem;
  height: 2.4rem;
}

.hero .header__menu {
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.hero .header__menu .line-1,
.hero .header__menu .line-2,
.hero .header__menu .line-3 {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero .header__menu.active .line-1 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(0px, 10px) rotate(45deg);
          transform: translate(0px, 10px) rotate(45deg);
}

.hero .header__menu.active .line-2 {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.hero .header__menu.active .line-3 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(0px, -9px) rotate(-45deg);
          transform: translate(0px, -9px) rotate(-45deg);
}

.hero .header.isScrolled {
  background-color: #19B8C2;
  color: #ffffff;
  font-weight: 500;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

.hero .header.isScrolled .header__logo {
  background: url("../images/DARK-LOGO.png");
}

.hero__info {
  width: 90%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
}

.hero__border {
  width: 50px;
  height: 3px;
  background-color: #19B8C2;
  margin: 2rem 0 3rem 0;
}

.hero__title {
  width: 80%;
  position: relative;
  overflow: hidden;
}

.hero__title::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideAccentBg 1.5s;
          animation: slideAccentBg 1.5s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  background-color: #19B8C2;
}

.hero__desc {
  width: 80%;
  margin-bottom: 3rem;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  background-color: #031617;
  color: #ffffff;
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  padding-top: 4rem;
  overflow-y: scroll;
}

.mobile-nav.show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.mobile-nav ul {
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.mobile-nav ul li {
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  padding-left: 2rem;
}

.mobile-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 2rem 0;
}

.desktop-nav {
  display: none;
}

.services {
  width: 90%;
  margin: 0 auto;
  padding: 7.5rem 0;
  text-align: center;
}

.services h2 {
  margin-bottom: 7.5rem;
}

.services__icons {
  fill: #19B8C2;
  width: 48px;
  height: 48px;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__card {
  margin-bottom: 5rem;
  padding: 5rem 1rem;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.services__card:last-of-type {
  margin: 0;
}

.services__card:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #19B8C2;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.services__card:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.services__card h3 {
  margin: 1.5rem 0;
}

.services__card p {
  width: 75%;
  margin: 0 auto;
}

.about {
  background-color: #F9F9F9;
  padding: 7.5rem 0;
}

.about__row {
  width: 90%;
  margin: 0 auto 7.5rem auto;
}

.about__row:last-of-type {
  margin: 0 auto;
}

.about img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.about__info p {
  margin: 2rem 0 2.5rem 0;
}

.banner {
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../images/banner.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5rem 0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__info {
  width: 90%;
  margin: 0 auto;
}

.banner__info h1 {
  margin-bottom: 3rem;
}

.banner__info p {
  width: 80%;
}

.accent {
  color: #19B8C2;
}

.portfolio {
  background-color: #F9F9F9;
  padding: 7.5rem 0;
}

.portfolio__row {
  width: 90%;
  margin: 0 auto;
}

.portfolio__row p {
  margin: 2.5rem 0;
}

.portfolio__grid {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 7.5rem;
}

.portfolio__card {
  position: relative;
}

.portfolio__card img {
  width: 100%;
  height: 100%;
}

.portfolio__info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0 0 3rem 2rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio__info p {
  width: 80%;
  margin: 1rem 0;
}

.portfolio__links a:first-of-type {
  margin-right: 2rem;
}

.portfolio .portfolio-icons {
  fill: #19B8C2;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.portfolio__card:hover .portfolio__info, .portfolio__card:active .portfolio__info {
  opacity: 1;
  visibility: visible;
}

.portfolio__container {
  width: 90%;
  margin: 0 auto;
}

.portfolio__review {
  margin: 2.5rem 0;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__testimonial {
  color: rgba(3, 22, 23, 0.75);
  margin-bottom: 2.5rem;
}

.portfolio__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__user img {
  margin-right: 10px;
}

.portfolio__user p {
  color: #031617;
  font-weight: 500;
}

.portfolio__user span {
  color: rgba(3, 22, 23, 0.75);
  font-style: italic;
}

.banner2 {
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../images/contact-us.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url("../images/contact-us.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5rem 0;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner2__info {
  width: 90%;
  margin: 0 auto;
}

.contact {
  padding: 7.5rem 0;
  width: 90%;
  margin: 0 auto;
}

.contact__form {
  margin-bottom: 7.5rem;
}

.contact__form h2 {
  margin-bottom: 2.5rem;
}

.contact__form form input, .contact__form form textarea {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #031617;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.contact__form form input:hover,
.contact__form form input:focus,
.contact__form form textarea:hover,
.contact__form form textarea:focus {
  border: 1px solid rgba(25, 184, 194, 0.5);
}

.contact__form form input::-webkit-input-placeholder,
.contact__form form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.2rem;
}

.contact__form form input:-ms-input-placeholder,
.contact__form form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.2rem;
}

.contact__form form input::-ms-input-placeholder,
.contact__form form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.2rem;
}

.contact__form form input::placeholder,
.contact__form form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.2rem;
}

.contact__details .contact-icon {
  fill: #ffffff;
  width: 36px;
  height: 36px;
}

.contact__details .icon {
  background-color: #19B8C2;
  border-radius: 50%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__details .info {
  padding-left: 2rem;
}

.contact__details .info p {
  color: rgba(3, 22, 23, 0.75);
  margin-top: .5rem;
  font-size: 1.2rem;
  width: 100%;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.contact__box:last-of-type {
  margin-bottom: 0;
}

.footer {
  background-color: #031617;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer p, .footer li, .footer a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 1rem;
}

.footer ul li:last-of-type {
  margin-bottom: 0;
}

.footer ul li a:hover,
.footer ul li a:focus {
  color: #19B8C2;
}

.footer input {
  background-color: #031617;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  width: 75%;
  padding: .5rem 0;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 100ms;
  transition: all 100ms;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.footer input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.footer input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.footer input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.footer input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.footer input:hover, .footer input:focus {
  border-bottom: 1px solid #19B8C2;
}

.footer input:hover::-webkit-input-placeholder, .footer input:focus::-webkit-input-placeholder {
  color: #19B8C2;
}

.footer input:hover:-ms-input-placeholder, .footer input:focus:-ms-input-placeholder {
  color: #19B8C2;
}

.footer input:hover::-ms-input-placeholder, .footer input:focus::-ms-input-placeholder {
  color: #19B8C2;
}

.footer input:hover::placeholder, .footer input:focus::placeholder {
  color: #19B8C2;
}

.footer__grid, .footer .container {
  width: 90%;
  margin: 0 auto;
}

.footer__grid {
  padding: 7.5rem 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
}

.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .container {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.footer button {
  display: block;
  width: auto;
  padding: 1.2rem 3.4rem;
}

@media screen and (min-width: 500px) {
  .footer__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-gap: 7.5rem;
  }
  .footer__grid-box:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .footer__grid-box:nth-of-type(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container ul li:first-of-type {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .services__card {
    max-width: 400px;
  }
  .services__card p {
    margin: 0 auto;
  }
}

@media screen and (min-width: 580px) {
  p, input, textarea, button, li, a, .contact__box .info p {
    font-size: 1.4rem;
  }
  .about__row {
    margin: 0 auto 10rem auto;
  }
  .services,
  .about,
  .banner,
  .portfolio,
  .banner2,
  .contact,
  .footer__grid {
    padding: 10rem 0;
  }
  .portfolio__review {
    margin: 5rem 0;
  }
  .contact__form {
    margin-bottom: 10rem;
  }
  .contact__form form input, .contact__form form textarea {
    margin-bottom: 2rem;
  }
  .contact__box {
    margin-bottom: 7.5rem;
  }
  .contact__box:last-of-type {
    margin-bottom: 0;
  }
  .footer__copyright .container {
    padding: 2rem 0;
  }
  .footer__copyright .container p, .footer__copyright .container li {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 700px) {
  .services,
  .about,
  .banner,
  .portfolio,
  .banner2,
  .contact,
  .footer__grid {
    padding: 12.5rem 0;
  }
  .hero__desc {
    width: 50%;
  }
  .about__row {
    margin: 0 auto 12.5rem auto;
  }
  .portfolio__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    margin-bottom: 10rem;
  }
  .work-3-4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .contact__form {
    margin-bottom: 12.5rem;
  }
  .contact__form form input, .contact__form form textarea {
    margin-bottom: 3rem;
  }
  .contact__box {
    margin-bottom: 10rem;
  }
  .contact__box:last-of-type {
    margin-bottom: 0;
  }
  .footer__grid {
    grid-gap: 10rem;
  }
}

@media screen and (min-width: 900px) {
  .about__row {
    height: 300px;
  }
  .about__row img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner, .banner2 {
    height: 450px;
  }
  .banner2 {
    background-position: 0% 75%;
  }
  .hero .header__menu,
  .hero .mobile-nav {
    display: none;
  }
  .hero .desktop-nav {
    width: 65%;
    display: block;
  }
  .hero .desktop-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
  }
  .hero .desktop-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 2px;
    display: block;
    overflow: hidden;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .hero .desktop-nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #19B8C2;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .hero .desktop-nav ul li a:hover {
    color: #19B8C2;
  }
  .hero .desktop-nav ul li a:hover::after {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .hero .header.isScrolled {
    background-color: #19B8C2;
    color: #ffffff;
    font-weight: 500;
    -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  }
  .hero .header.isScrolled .desktop-nav ul li a::after {
    background-color: #031617;
  }
  .hero .header.isScrolled .desktop-nav ul li a:hover {
    color: #031617;
  }
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__row img,
  .about__row .about__info {
    width: 50%;
  }
  .about__row:nth-of-type(1) img {
    padding-right: 2rem;
  }
  .about__row:nth-of-type(1) .about__info {
    padding-left: 2rem;
  }
  .about__row:nth-of-type(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about__row:nth-of-type(2) img {
    padding-left: 2rem;
  }
  .about__row:nth-of-type(2) .about__info {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 3.6rem;
  }
  .hero__title {
    width: 500px;
  }
  .hero__desc {
    width: 400px;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .services__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services__card {
    margin-bottom: 0;
  }
  .services__card:nth-of-type(2) {
    margin: 0 4rem;
  }
  .header__container,
  .hero__info,
  .services,
  .about__row,
  .banner__info,
  .portfolio__row,
  .portfolio__grid,
  .portfolio__container,
  .banner2__info,
  .contact,
  .footer__grid,
  .container {
    max-width: 1200px;
  }
  .hero .desktop-nav {
    width: 50%;
  }
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio__reviews:first-of-type {
    margin-right: 2rem;
  }
  .portfolio__grid {
    grid-gap: 2rem;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .contact__form, .contact__details {
    width: 50%;
  }
  .contact__details {
    padding-top: 10px;
  }
  .contact__details .info p {
    width: 80%;
  }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__form button {
    display: block;
    width: auto;
    padding: 1.4rem 3.6rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 1.4rem;
  }
  .contact__form textarea {
    height: 175px;
  }
  .footer button {
    padding: 1.2rem 3.4rem;
    font-size: 1.2rem;
  }
  .footer__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .footer__grid-box:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__grid-box:nth-of-type(1) p {
    width: 75%;
  }
  .footer__grid-box:nth-of-type(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
  .footer__grid-box:nth-of-type(4) input {
    width: 100%;
  }
  .cta__btn {
    padding: 1.4rem 3.6rem;
  }
}
